@model ProjetoP2_Sistema_CafeteriaV1._1.Models.Telefones

@{
    ViewData["Title"] = "Telefones";
}

<h1>Telefones</h1>

<h4>Editar</h4>
<hr />
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li>
            <a class="btn btn-primary" asp-controller="Funcionarios" asp-action="Details" asp-route-id="@Model.FuncionarioId">Voltar</a>
        </li>
    </ul>
</div>
<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="FuncionarioId" />
            <div class="form-group">
                <label asp-for="NumTelefone" class="control-label"></label>
                <input asp-for="NumTelefone" class="form-control" />
                <span asp-validation-for="NumTelefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
