@model ProjetoP2_Sistema_CafeteriaV1._1.Models.Mesas

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Tem certeza que deseja deletar esta mesa?</h3>
<hr />
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-outline-primary" asp-action="Index">Voltar</a>
        </li>
    </ul>
</div>
<br />
<hr />
<div>
    <h4>Mesas</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumCadeiras)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumCadeiras)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model._Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model._Status.Id)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
